:root {
    --font-primary: "Atyp Text", sans-serif;
    --font-secondary: "Atyp Display", sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --color-white: #fff;
    --color-green-1: #e7ffa6;
    --color-green-2: #dbff76;
    --color-green-3: #c1ff14;
    --color-green-4: #99f524;
    --color-green-primary: var(--color-green-3);
    --color-blue-dark: #0128b0;
    --color-blue-light: #2857ff;
    --color-blue-cyan: #95eaff;
    --color-pink-1: #ffa4f0;
    --color-pink-secondary: #ff62e6;
    --color-pink-2: #ff7fea;
    --color-pink-3: #ff62e6;
    --color-blue-secondary: #0038ff;
    --color-red-seconday: #f2420c;
    --color-black-1: #000;
    --color-black-primary: #121212;
    --color-black-2: #1c1c1c;
    --color-black-3: #292929;
    --color-text: var(--color-black-primary);
    --color-gray-dark: #717171;
    --color-gray-light: #a0a0a0;
    --color-gray-1: #f2f2f2;
    --color-gray-2: #e5e5e5;
    --color-gray-3: #d8d8d8;
    --color-gray-3-light: #d9d9d9;
    --color-gray-4: #c0c0c0;
    --color-gray-5-light: #717171;
    --color-gray-5-dark: #a0a0a0;
    --color-gray-6: #4c4c4c;
    --color-grey-lighter: #f2f2f2;
    --screen-width: 100vw;
    --grid-gutter: max(calc(8 * 100vw / 1440), 8px);
    --grid-padding: calc(64 * 100vw / 1440);
    --grid-padding-mobile: 20px;
    --grid-column: 12;
    --grid-column-mobile: 4;
    --grid-container-size: calc(min(var(--screen-width), 1920px) - var(--grid-padding) * 2);
    --grid-column-size: calc((var(--grid-container-size) - var(--grid-gutter) * 11) / 12);
    --fullscreen-padding: 20px;
    --grid-side-spacing: calc((100dvw - var(--grid-container-size)) * .5);
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: max(1.5rem, 24px);
    --spacing-40: 40px;
    --spacing-60: 60px;
    --spacing-80: 80px;
    --spacing-120: max(7.5rem, 60px);
    --spacing-200: 200px;
    --max-width: 1920px;
    --font-size-base: 16px;
    --border-radius-section: 12px;
    --border-radius-wrapper: 6px;
    --border-radius-small: 2px;
}


.metamask_heading {
    font-size: max(1.5rem,24px);
    font-weight: var(--font-weight-regular);
    line-height: 1.2em;
    font-family: var(--font-secondary);
}


.metamask_text {
    font-size: max(1.5rem,24px);
    font-weight: var(--font-weight-regular);
    line-height: 1.2em;
    font-family: var(--font-secondary);
    color: var(--color-gray-5-light);
}

.key_numbers_div {
    border-top: 1px solid var(--color-gray-2);
    padding-top: max(1.5rem,24px);
    
}

.key_number {
    display: inline-flex;
    font-size: max(3rem,48px);
    font-weight: var(--font-weight-regular);
    line-height: .7em;
    font-family: var(--font-secondary);
    height: max(3rem,48px)!important;
}

.metamask_users_heading {
    font-size: max(.75rem,12px);
    font-weight: var(--font-weight-semibold);
    letter-spacing: .1em;
    line-height: 1em;
    text-transform: uppercase;
}


