.footer_main {
    color: #121212;
    background: #c1ff14;
    margin-top: max(7.5rem,24px);
    padding: max(5rem,40px) 0;
}

.consensys_logo {
    width: max(13.25rem,120px);
    height: max(2.875rem,26px);
}